# Never upload your environment keys
.env
.env.local
.env.development
.env.production

# Node dependencies
node_modules/

# Build output
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
